.second-header {
padding-top: 20px;
padding-bottom: 170px;
padding-left: 230px;
padding-right: 230px;
margin-top: -20px;
margin-bottom: 120px;
height: 500px;
background-color: #424242;
color: #b0bec5; 
  
}

.main-header {
text-align: left; 
font-family: Arial; 
font-size: 70px; 
color: Crimson;  
padding-top: 2px;
margin-top: -80px;
margin-bottom: 20px;
}

