
.second-header {
padding-top: 23px;
padding-bottom: 23px;
padding-left: 10px;
padding-right: 10px;
weight: 1920px;
height: 1080px;
background-image: url(http://k46.kn3.net/B/E/D/6/C/5/E8C.png);
  
  
}

